.Phonetic {
    display: block;
    margin: 10px auto;
    padding: 20px 17px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #91b2c2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.Phonetic .Play{
    color: #91b2c2;
    transition: all 200ms ease-in-out;
}

.Phonetic .Play:hover{
    color: #446575;
}

.Phonetic .Text {
    margin-left:15px;
    font-size: 20px;
}

